
<script src="/path/to/masonry.pkgd.min.js"></script>

<script>
  var elem = document.querySelector('.grid');
  var msnry = new Masonry( elem, {
  // options
  itemSelector: '.grid-item',
  columnWidth: 200
  });

  // element argument can be a selector string
  //   for an individual element
  var msnry = new Masonry( '.grid', {
  // options
  });
</script>



<p id="notice"><%= notice %></p>


<div class="grid">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
  <div class="grid-item"></div>
  <div class="grid-item grid-item--width2">
...
      <% @parishes.each do |parish| %>
      <%= parish.name %>
      <%= link_to 'Show', parish %>

      <% end %>
  </div>
</div>


<br>

<%= link_to 'New Parish', new_parish_path %>
