<p id="notice"><%= notice %></p>

    <% @notices.each do |notice| %>
    <%= render 'notice_home', notice: notice %>
    <% end %>


<br>
<% if current_user.blank? %>
  <%else %>
    <%if current_user.role_id == 1%>
      <%= link_to 'New Notice', new_notice_path %>
    <% end %>
    <% end %>
