
<div class="notice_wrapper">
    <% @notices.each do |notice| %>
    <%= render 'notice_home', notice: notice %>
    <% end %>
</div>

<br>
  <% if !current_user.blank? && current_user.role_id == 1 %>
      <%= link_to 'New Notice', new_notice_path, class:"btn btn-primary" %>
  <% end %>
