<body>
  <div class="main_index_wraper container">
    <div class="row">
      <div class="main_index_pic col-md-6">

      </div>

      <div class="main_index col-md-6">
        <h1>
            Democracy: it’s for everyone
        </h1>
        <p>
            You shouldn’t have to be an expert to understand what goes on in Parliament. Your politicians represent you… but what exactly do they do in your name?<br>
            TheyWorkForYouJersey takes open data from the Parliament, and presents it in a way that’s easy to follow – for everyone. So now you can check, with just a few clicks: are They Working For You?

        </p>
        <p>
          <%= render partial: "notices/show" %>
        </p>
      </div>
    </div>
  </div>
</body>
