<div class="row main_index">
  <div class="col-md-6 main_index_text">
      <h1>Democracy Is For Everyone</h1>

      <p>You shouldn’t have to be an expert to understand what goes on in the States Chamber.
      Your politicians represent you - but what exactly do they do in your name?</p>

      <p>TheyWorkForYouJersey takes open data from the States and presents it in a way that’s easy to follow  - for everyone!</p>

      <p>So now, with just a few clicks, you can check:</p>

      <h3>Are They Working For You?</h3>
      <form action="/search" method="GET" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <div class="search_button">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </div>
      </form>
  </div>
  <div class="col-md-6">
    <%= image_tag("stateschamber.jpg", class: "hero-image") %>
  </div>
</div>


<div class="row">
    <% @notices.each do |notice| %>
      <div class="col-md-4">
        <%= render 'notices/notice_home', notice: notice %>
      </div>
    <% end %>
</div>
