# Add configuration values here, as shown below.
DATABASE_URL="mysql2://root:rootpassword@localhost/theyworkforyouje_development"
DATABASE_TEST_URL="mysql2://root:rootpassword@localhost/theyworkforyouje_test"