// $green: #00B541;
// $border: 1px solid $green;

// footer{
//   margin-top:10px;
// }

// footer.navbar {
//   min-width: 100%;
//   min-height: 6em;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   border-top: $border;
// }
// .navbar-text {
//   text-align: center;
// }
// .privacy-text, .terms-and-conditions {
//   font-size: 0.8em;
// }




// NAVBAR STYLING

.navbar {
  min-height: 5em;
  margin: 0;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

  .container {
    padding: 0;
  }

  &-fixed-top {
    border-width: 0 0 1px 0;
  }

  &-fixed-bottom {
    border-width: 1px 0 0 0;
  }

  .nav-link {
    padding: 1rem;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.2);

    &:hover,
    &:focus {
      // @include btn-shadow-inverse($gray-800);
      border-left: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

  &-brand {
    padding: 0.75rem 1rem calc(54px - 0.75rem - 30px);
    margin-right: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }

  .nav-item.active .nav-link {
    background-color: rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
  }

  &-nav .nav-item + .nav-item {
    margin-left: 0;
  }
}