footer.navbar {
  min-width: 100%;
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #00B541;
}
.navbar-text {
  text-align: center;
}
.privacy-text, .dont-sue-me {
  font-size: 0.8em;
}