// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$greenbg: #379219;
$greenborder: #143a08;

.hero-image
{
  width: 100%;
}

.home_notice_container
{
}

.home_notice_title
{
  text-align: center;
  padding: 10px;
  background-color: $greenbg;
  padding: 20px;
  border: solid 1px $greenbg;
  border-bottom: solid 1px $greenborder;
}

.home_notice_title a
{
  color: #fff;  
  font-size: 1.2em;
}

.home_notice_author
{
  text-align: right;  
  padding: 5px 20px;
  font-style: italic;
  font-size: 0.7em;
  border: solid 1px $greenborder;
  border-top: 0;
  border-bottom: 0;
}

.home_notice_content
{
  text-align: justify;  
  padding: 20px;
  border: solid 1px $greenborder;
  border-top: 0;
  font-size: 0.9em;
}

/*
.main_index_wraper {
  display: flex;
  flex-direction: row;
  padding-top: 2em;
  padding-bottom: 3em;
  font-family: verdana, arial, helvetica, sans-serif;
}

.main_index {
  width: 30%;
  padding-top: 1em;
  padding-left: 4em;

  p {
    font-size: 1em;
    padding-top: 0.5em;
  }
}

.main_index_pic {
  min-height: 100%;
  background-color: orange;
  background-image: url('stateschamber.jpg');
  background-size: cover;
}
.home_notice {
  font-size: 1.4em;
  padding-left: 3em;
  h5 {
    font-weight: bold;
  }
}
.container_notice {
  border-top: 1px solid green;
  padding: 2em;
}
*/