// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$green: #00B541;


.main_index_wraper {
  display: flex;
  flex-direction: row;
  padding: 2em;
  margin-bottom: 0;
}

.main_index {
  width: 30%;
  padding: 1em;
  padding-top: 3em;
  padding-bottom: 4em;

  p {
    font-size: 0.9em;

    padding-top: 1em;
  }
  h3 {
    text-align: center;
  }
}

.main_index_pic {
  height: 100%;
  background-color: orange;
  background-image: url('stateschamber.jpg');
  background-size: cover;
}
.home_notice {
  font-size: 1.4em;
  padding-left: 3em;
  h5 {
    font-weight: bold;
  }
}
