// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_index {
  margin: 5em;
  margin-top: 3em;
  background-image: image(IMG_6395);

  p{
    font-size: 1em;
    padding-top: 1em;
  }
}
