

nav.navbar {
  min-width: 100%;
  min-height: 5em;

  li.external-nav {
    padding-left: 11em;
    a {
    text-decoration: underline;
    }
    a:hover {
    background-color: transparent;
    }
  }
  .form-control {
    // width: 100%;
  }

  a:hover {
    background-color: lighten;
    border-radius: 2px;
  }
  a.navbar-brand:hover {
    background-color: transparent;
  }
}
.navbar-light .navbar-nav .nav-link {
    
    font-weight: bolder;
}
