// Place all the styles related to the parishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#accordion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: row;
  margin:1em;
  min-width: 50px;
  max-width: max-content;
}

.card-header {
  padding: 1em;
  min-width: 100px;
  border-bottom: none;
}

.card-body {
  padding: 0.5em;
  p {
    margin-bottom: 0;
  }
}
