// Place all the styles related to the politicians controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.deleted_alert{
  text-align: center;
  margin-top:10px;
  font-weight: bold;
  color:red;
}

.politician_list  img {
  max-height: 180px;
}

.politician_list .card {
	height: 335px;
	margin: 10px 0 10px;
	max-width: 150px;
}

.politician_list .card-footer {
	line-height:10px;
	height: 40px;
	overflow:hidden;
}

.politician_list h4 {
	height: 40px;
	font-size: 16px;
	overflow: hidden;
}

.politician_list .card-subtitle     {
	font-size:16px;
}

.person_wraper {
  display: block;
	padding-top: 2em;
}

.person_wraper .card {
  flex-direction: column;
}

.card--fixed-width {
  width: 160px;
}

.person_wraper .avatar {
  margin: 1em;
  border-radius: 1px;
  box-shadow: 1px 1px 1px #888888;
}

.person_wraper_chart {
	padding-top: 2em;
}

li {
	list-style: none;
}

#chart_div {
	min-height:200px;
}

.vote-descriptions > li {
	position: relative;
	border-bottom: 1px solid #e4e2dc;
	line-height: 1.5em;
	padding-top: 0.4m;
	padding-bottom: 0.4em;
}
.vote-descriptions>li:first-child {
	border-top: 1px solid #e4e2dc
}

thead{
  background-color: #59ABE3;
}

.mng_tbl_head th{
  border-bottom:2px black solid;
}

.mng_tbl_row tr{
  border-bottom:1px grey solid;
}

.mng_tbl{
  width: 85%;
  border: 1px black solid;
  border-radius: 1px;
  margin:auto;
}

.active{
  background-color: #59ABE3;
}
.deleted{
  background-color: #CF000F;
  color: white;
}
.break{
  height:20px;
}

.theader{
  text-align: center;
  font-weight: bold;}

.no-flex-grow {
  flex-grow: 0
}
