// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search_wrapper{
  margin: 2em;
  h6 {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

.search_pol,
.search_prop {
  padding: 1em;
  margin-bottom: 0.3em;
  background-color: #f8f9fa;
  max-width: content;
}

.search_label {
  margin-left: 2em;
  font-weight: 600;
  margin-bottom: 1em;
}

.search_link {
  padding-left: 3em;
  color: darkgray;
}

.search_lodgeby {
  padding-left: 2em;
}
