// Place all the styles related to the terms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.term_wraper {
  padding-top: 1em;
  padding-left: 3em;
  padding-right: 3em;
  margin: auto;
}

.term_container {
  background-color: #f8f9fa;
  margin: 0.2em;
  padding: 0.5em;
}
