// Place all the styles related to the terms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.term_year {
  margin: auto;
  padding: 0.5em;
}

.term_card {
  padding: 0.4em;
  margin-top: 0.2em;
  max-width: 100%;
  border: none;
  background-color: #f8f9fa;
}
