// Place all the styles related to the votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.proposal_name {
  padding-top: 1em;
  padding-bottom: 3em;
}

.vote_sum {
  padding-left: 5em;
  padding-bottom: 2em;
  h6 {
    padding-top: 1em
  }
  .vote_sum_pol {
    padding-left: 1em;
    margin: 0.1em;
    background-color: #f8f9fa;
  }
}
