<% @year = Time.new.year %>

<footer class="navbar navbar-light bg-light">
  <span class="navbar-text">
    theyworkforyouje
    &copy;
    <%= @year %>
    </br>
    <span class="privacy-text">Privacy Policy</span> - <span class="dont-sue-me">Don't sue us plz</span>
  </span>
</footer>